uploads/
logs/*
__pycache__/
.venv/
.env
.DS_Store


# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js

Dockerfile
docker-compose.yml

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.*

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*